<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Health Test - App</title>
  </head>
  <body>
    <div id="root"></div>

    <!-- React (development) and Babel for on-the-fly JSX transpilation in dev/demo -->
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script type="text/babel" src="/frontend/browser/LandingPage.jsx"></script>
    <script type="text/babel" src="/frontend/browser/QuestionnairePage.jsx"></script>
    <script type="text/babel" src="/frontend/browser/AnswerPage.jsx"></script>
    <script type="text/babel" src="/frontend/browser/Application.jsx"></script>
  </body>
</html>
